{%load static%}
<section class="w3l-footer-29-main">
    <div class="footer-29">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5 class="ft-tophead">Soyez toujurs connecre</h5>
            <p class="ft-paarag">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsam eligendi
              officiis recusandae</p>
          </div>
          <div class="col-md-6">
            <form action="#" class="subscribe" method="post">
              <input type="email" name="email" placeholder="Email" required="">
              <button><span class="fa fa-envelope-o"></span></button>
            </form>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault" style="color: white;">
                falut el accepts lets conditoins generelaso dutilitsion
              </label>
            </div>
          </div>
        </div>
        <div class="d-grid grid-col-4 footer-top-29">
          <div class="footer-list-29 footer-1">
            <h6 class="footer-title-29">General</h6>
            <ul>
              <li><a href="">Presentation</a></li>
              <li><a href="">Envernments</a></li>
              <li><a href="">Lotissements</a></li>
              <li><a href="">Parcelles en vente</a></li>
              <li><a href="">Encheres</a></li>
            </ul>
          </div>
          <div class="footer-list-29 footer-2">
            <ul>
              <h6 class="footer-title-29"></h6>
              <li><a href="">Opportunities</a></li>
              <li><a href="">Comments devenir proprietaire</a></li>
              <li><a href="">Aide / FQA</a></li>
              <li><a href="">Nous contracter</a></li>
              <li><a href="">Courses</a></li>
            </ul>
          </div>
          <div class="footer-list-29 footer-3" style="border-right: 1px solid #454545;">
            <ul>
              <h6 class="footer-title-29">Nos Parcelles</h6>
              <li><a href="">Bande des 140m</a></li>
              <li><a href="">Kati Samatoboguos</a></li>
              <li><a href="">Dialakorbouyo</a></li>
              <li><a href="">Samaya</a></li>
              <li><a href="">Yirrimado</a></li>
            </ul>

          </div>
          <div class="footer-list-29 footer-4" style="border-right: 1px solid #454545;">
            <ul>

              <li><a href="">Nous balrisous jusques abouts de vos revefs</a></li>
              <h6 class="footer-title-29">Contactez nous</h6>
              <li><a href="#"> ventes@aclimail.net</a></li>
              <li><a href="">+229 20 29 88 08</a></li>
              <li class="phoneo"><i class="fa fa-phone phoneo-ico"></i></li>
            </ul>
          </div>
        </div>
        <div class="d-grid grid-col-2 bottom-copies">
          <p class="copy-footer-29">@copyrights ACI Agence de Cessiors - All rights reserved</p>
          <ul class="list-btm-29">
            <div class="main-social-footer-29">
              <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
              <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
              <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
              <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
              <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
            </div>

          </ul>
        </div>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>

    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>