{% load static %}
<section id='header' class='header-container'>
  <div class='header-background'>
      <img src="{% static '/assets/images/Matrix-Gradient-1-1-p-1600.png' %}" alt='matix-background'  />
  </div>
  <div class='logo-container'>
  <img src="{% static '/assets/images/logo.webp' %} " alt='logo'  />
  </div>

  <h1 class='xl-header'>Making money is a <span >skill.</span></h1>
  <p class='medium-header'>We will <span >teach you</span> how to <span >master it.</span></p>

  <div class="player-container">
    <iframe  width="800" height="443"  src="https://www.youtube.com/embed/SFtQ38-NcnU?autoplay=1&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"></iframe></div>
  
  <div class='header-options'>
    <a class='main-btn'
    href="{{domain}}/sign-up"
    >Join Now </a>
    <div class='secondary-btn-container'>
      <div ></div>
    <button class='secondary-btn'
     >Scroll Down</button>
     </div>
  </div>

  <div class='horizontal-divider'></div>

</section>